page {
    margin: 0 auto;
    font-family: var(--font, monospace);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 23.4px;
    background-image: var(--backgroung-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    min-block-size: 100vh;
    padding: 20px;
    display: grid;
    position: relative;
    grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header__theme-menu-button {
    padding: 0 13px;
    color: var(--btn-color);
    text-align: center;
    border: none;
    background: transparent;
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
    border: 1px solid rgba(255, 0, 112, 0.40);
    cursor: pointer;
}

.decorative__element {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--btn-color);
    text-align: center;
    padding-right: 8px;
    text-transform: uppercase;
    margin: 20px;
}

    .decorative__element::after {
        display: block;
        content: "";
        inline-size: 9px;
        block-size: 9px;
        border-radius: 50%;
        background-color: var(--accent-color);
        fill: var(--accent-color);
        filter: drop-shadow(0px 0px 4px var(--accent-color));
    }

.frame::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    border-top: 1px solid var(--btn-color);
    border-right: 1px solid var(--btn-color);
    inline-size: 25px;
    block-size: 25px;
    margin: 20px;
}

.frame::after {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid var(--btn-color);
    border-left: 1px solid var(--btn-color);
    inline-size: 25px;
    block-size: 25px;
    margin: 20px;
}

.header__title {
    margin-left: -20px;
    text-shadow: 4px 4px 0 var(--accent-color);
    font-size: clamp(7.5rem, 0.5rem + 14.5vw, 9.8rem);
    color: var(--title-color);
    font-weight: 700;
    line-height: 82.5%;
}

.title-decor {
    font-weight: 700;
    background-color: var(--accent-color);
    font-size: var(--font-size);
    line-height: 23.4px;
    color: var(--sub-text-color);
}

.header__text {
    max-inline-size: 491px;
    max-block-size: 71px;
    justify-self: end;
    align-self: center;
}

.section-title {
    color: var(--btn-color);
    font-weight: 700;
    line-height: 23.4px;
    font-size: var(--font-size);
}

.section-answer-text {
    font-size: var(--font-size);
    color: var(--text-color);
}

.section-answer-link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-color);
}

    .section-answer-link:hover {
        border-bottom: 1px solid var(--text-color);
    }

    .section-answer-link:focus {
        outline: none;
    }

    .section-answer-link:focus-visible {
        border: 1px solid var(--text-color);
    }

.section__one {
    display: grid;
    grid-template-columns: 34% 66%;
    padding-block-start: 60px;
    margin: 0 20px;
}

.section-answer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

    .section-answer p:first-of-type {
        padding-block-end: 10px;
    }

.section-two {
    padding-block-start: 80px;
    padding-block-end: 80px;
    margin: 0 20px;
}

.section-answer-two-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-block-start: 20px;
}

.section-title-two {
    max-inline-size: 315px;
}

.section-answer-title-two {
    margin-block-end: 10px;
}

.section__three {
    display: grid;
    grid-template-columns: 34% 66%;
    padding-block-end: 80px;
    margin: 0 20px;
}

.section-answer-subtitle {
    font-weight: 400;
}

.section-answer-three {
    display: grid;
    gap: 20px;
}

.section-answer-text-three {
    padding-block-start: 10px;
}

.section__image {
    padding-block-end: 60px;
}

.section-title-image {
    margin: 0 20px 20px 20px;
}

.section__image-container {
    margin: 0 20px;
    display: grid;
    gap: 20px;
    grid-template-areas: inherit;
}

.section__image-item {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
}

    .section__image-item:first-of-type {
        grid-column: 1 / 3;
    }

    .section__image-item:nth-of-type(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .section__image-item:nth-of-type(3) {
        grid-row: 2 / 4;
    }

    .section__image-item:nth-of-type(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .section__image-item:last-of-type {
        grid-column: 2 / 4;
    }


.footer {
    min-block-size: 100vh;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__title {
    text-shadow: 4px 4px 0 var(--accent-color);
    font-size: clamp(7.5rem, 0.5rem + 14.5vw, 9.8rem);
    color: var(--title-color);
    font-weight: 700;
    line-height: 82.5%;
}

@media (max-width:768px) {
    .header__theme-menu {
        display: flex;
        justify-content: flex-end;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 13px;
    }

    .header__text {
        max-inline-size: 364px;
        max-block-size: 117px;
    }

    .header__title {
        font-size: clamp(7.5rem, 0.5rem + 14.5vw, 9.8rem);
    }

    .section__one {
        grid-template-columns: 33% 67%;
        gap: 20px;
        padding-inline-end: 20px;
    }

    .section-answer-two-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-block-start: 20px;
    }

    .section-title-two {
        max-inline-size: 236px;
    }

    .section__three {
        display: grid;
        grid-template-columns: 35% 65%;
        padding-block-end: 80px;
    }

    .footer {
        padding: 20px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:560px) {
    .header {
        padding: 10px;
    }

    .header__title {
        margin-left: 0px;
        font-size: clamp(7.25rem, 7rem + 1vw, 7.5rem);
    }

    .header__text {
        max-inline-size: 355px;
        max-block-size: 117px;
    }

    .section__one {
        margin: 0px 10px;
        padding: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section-two {
        margin: 0 10px;
        padding-block-start: 50px;
        padding-inline-end: 0;
        padding-block-end: 50px;
    }

    .section-title-two {
        min-inline-size: 355px;
    }

    .section-answer-two-container {
        display: flex;
        flex-direction: column;
    }

    .section__three {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-block-end: 50px;
    }

    .section__image {
        padding: 0 0 40px 0;
    }

    .section-title-image {
        margin: 0 10px 10px 10px;
    }

    .section__image-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 10px;
    }

    .footer {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .footer__title {
        font-size: clamp(7.25rem, 7rem + 1vw, 7.5rem);
    }

    .decorative__element {
        margin: 10px;
    }

    .frame::before {
        margin: 10px;
    }

    .frame::after {
        block-size: 25px;
        margin: 10px;
    }
}
